body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 3fr;
}

/* HEADER */

.header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    margin: auto 50px;
    font-weight: 700;
}

.header-content-top svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.header-content-top input {
    background-color: #e5e7eb;
    width: 420px;
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
    margin-right: auto;
    text-indent: 10px;
    cursor: pointer;
}

.header-content-top img {
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-content-top p {
    padding-left: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.header-content-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.header-content-bottom img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 10px 8px 0;
    cursor: pointer;
}

.greeting p {
    font-size: .8rem;
    margin: 5px 0;
}

h2 {
    margin: 0 0 8px 0;

}

.greeting {
    padding: 0 10px;
    margin-right: auto;
    cursor: pointer;
}

button {
    color: white;
    background-color: #0284c7;
    border-radius: 20px;
    padding: 8px 24px;
    border: 1px solid #0284c7;
    margin: 0 10px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.header-content-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #0ea5e9;
    border: 1px solid #0ea5e9;

}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    color: white;
    background-color: #0284c7;
    grid-row: 1 / 4;
    grid-column: span 1;
}

.material-logo svg {
    fill: white;
    width: 42px;
    height: 42px;
    padding-right: 16px;
}

h1 {
    font-size: 1.5rem;
}

.material-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
}

.sidebar-content-top,
.sidebar-content-bottom {
    margin-top: 35px;
}

.material-icon svg {
    fill: white;
    width: 20px;
    height: 20px;
    padding: 8px;
}

.material-icon p {
    padding-left: 20px;
    font-weight: 500;
}

.material-icon {
    height: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s;
}

.material-icon:hover {
    cursor: pointer;
    background-color: #0ea5e9;

}


/* MAIN */

.main {
    background-color: #e5e7eb;
    grid-row: span 2;
    grid-column: span 2;
    padding: 15px 30px;
    box-shadow: inset 0px 2px 10px #9ca3af;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.project .card {
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 10px #9ca3af;
}

h4 {
    font-size: .9rem;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.card p {
    font-size: .7rem;
    text-align: left;
    color: #6b7280;
    margin: 5px 0;
}

.card-icons svg {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

.card-icons {
    align-self: flex-end;
    margin-top: auto;
}


.project-cards {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    gap: 25px;
}

.project-cards .card {
    min-height: 100px;
    padding: 20px 30px;
    border-radius: 10px;
    border-left: 8px solid #84cc16;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-right {
    padding-left: 30px;
    display: grid;
}

.announcements .card {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px #9ca3af;
}

h5,
h6 {
    margin: 0;
    font-size: .7rem;
}

.announcements p {
    font-size: .6rem;
}

hr {
    color: #6b7280;
}

.trending img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin: 9px 0;
}

.trending .card {
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #9ca3af;
}

.mini-text {
    padding-left: 20px;
}

.mini-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}